<%= form_for(@tea_type) do |f| %>
  <%= format_message(@tea_type.errors.full_messages) %>

  <div class="table first_cell_right first_cell_valign full_width_table_on_mobile">
    <div class="tr">
      <div class="td"><%= f.label :name %></div>
      <div class="td"><%= f.text_field :name, autofocus: true %></div>
    </div>

    <div class="tr">
      <div class="td"></div>
      <div class="td"><%= f.submit "Submit", :class => "btn" %></div>
    </div>
  </div>

<% end %>
