<% @page_title = "Edit " + resource_name.to_s.humanize %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= format_message(devise_error_messages!) %>

 <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="table first_cell_right first_cell_valign full_width_table_on_mobile">
    <div class="tr">
      <div class="td"><%= f.label :email %></div>
      <div class="td"><%= f.email_field :email, autofocus: true %></div>
    </div>
    <div class="tr">
      <div class="td"><%= f.label :password %></div>
      <div class="td">
        <%= f.password_field :password, autocomplete: "off" %><br/>
        (leave blank if you don't want to change it)
      </div>
    </div>

     <div class="tr">
      <div class="td"><%= f.label :password_confirmation %></div>
      <div class="td"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
    </div>
 
    <div class="tr">
      <div class="td"><%= f.label :current_password %></div>
      <div class="td">
        <%= f.password_field :current_password, autocomplete: "off" %><br/>
        (we need your current password to confirm your changes)
      </div>
    </div>

    <div class="tr">
      <div class="td"></div>
      <div class="td"><%= f.submit "Update", :class => "btn" %></div>
    </div>
  </div>
<% end %>

<h1>Unhappy?</h1><br/>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn" %>

