<% @page_title = "Sign up" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<%= format_message(devise_error_messages!) %>

	<div class="table first_cell_valign first_cell_right full_width_table_on_mobile">
		<div class="tr">
			<div class="td"><%= f.label :email %></div>
			<div class="td"><%= f.email_field :email, autofocus: true %></div>
		</div>

		<div class="tr">
			<div class="td"><%= f.label :password %></div>
			<div class="td"><%= f.password_field :password, autocomplete: "off" %></div>
		</div>

		<div class="tr">
			<div class="td"><%= f.label :password_confirmation %></div>
			<div class="td"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
		</div>

		<div class="tr">
			<div class="td"></div>
			<div class="td"><%= f.submit "Sign up", :class => "btn" %></div>
		</div>
	</div>

<% end %>

<%= render "devise/shared/links" %>
