<%= form_for @tea, html: {class: "required_form_bottom tea_form"} do |f| %>
  <%= format_message(@tea.errors.full_messages) %>

  <div class="table first_cell_right first_cell_valign full_width_table_on_mobile">
    <div class="tr">
      <div class="td"><%= f.label :name %></div>
      <div class="td">
        <%= f.text_field :name, autofocus: true, :class => "typeahead", :id => 'tea_name' %>
      </div>
    </div>

    <div class="tr">
      <div class="td"><%= f.label :tea_type_id %></div>
      <div class="td">
        <%= select_tag 'tea[tea_type_id]', options_from_collection_for_select(@tea_types, 'id', 'name', @tea.tea_type.nil? ? '' : @tea.tea_type.id), prompt: "Choose...", class: "required" %>
      </div>
    </div>

    <div class="tr">
      <div class="td"><%= f.label "Favorite" %></div>
      <div class="td top_padding checkboxes">
        
        <label><%= f.check_box :favorite %>
            Yes</label><br/>
      </div>
    </div>

    <% if !@atts.blank? %>
      <div class="tr">
        <div class="td"><%= f.label "Attributes" %></div>
        <div class="td top_padding checkboxes">
          <% @atts.each do |att| %>
              <label><%= check_box_tag "#{f.object_name}[att_ids][]", att.id, @tea.atts.include?(att) %>
               <!--, @tea.teafinder_atts.include?(att)-->
              <%= att.name %></label><br/>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="tr">
        <div class="td">Attributes</div>
        <div class="td top_padding">Add your own <%= link_to 'custom attributes', new_att_path %> to better organize and filter your teas.</div>
      </div>
    <% end %>

    <div class="tr">
      <div class="td">Stock</div>
      <div class="td top_padding">
        <%= f.hidden_field :current_stock, value: @tea.stock %>
        <% if @tea.id.nil? %>
          <%= f.radio_button :stock, 'In', :checked => true %>
        <% else %>
          <%= f.radio_button :stock, 'In' %>
        <% end %>
        <%= f.label :stock, 'In', :value => 'In' %><br/>
        <%= f.radio_button :stock, 'Out' %>
        <%= f.label :stock, 'Out', :value => 'Out' %>
      </div>
    </div>

    <div class="tr">
      <div class="td"><%= f.label "Archive" %></div>
      <div class="td top_padding checkboxes">
        
        <label><%= f.check_box :archive %>
            Yes</label>
            <span class="small">(Archived teas appear at the bottom of the list)</span>
      </div>
    </div>

    <div class="tr">
      <div class="td">Vendor</div>
      <div class="td"><%= f.text_field :vendor %></div>
    </div>

    <div class="tr">
      <div class="td"><%= f.label :url %></div>
      <div class="td"><%= f.text_field :url %></div>
    </div>

    <div class="tr">
      <div class="td">Steeping Notes</div>
      <div class="td">
        <%= f.text_area :notes,:placeholder => "number of teaspoons, temperature, steep time...", :rows => 6 %>
        <div class="small">
          Steeping Notes are public and anonymous. <a href="javascript:;" class="js_show_notes_info no_transform default_black">huh?</a>
          <div class="hide js_css_notes_info">Steeping notes are shared with other users who have the same teas. This allows you to experiment with other methods of steeping your tea. No other information is attached to the note making it completely anonymous.</div>
        </div>
      </div>
    </div>

    <div class="tr">
      <div class="td"></div>
      <div class="td"><br/><%= f.submit "Save", :class => "btn" %></div>
    </div>
  </div>

<% end %>

<br/>