<% @page_title = "Your teas" %>
<% @page_title_extra = image_tag("icon_options2x.png", :class => "options_icon header_icon", :width => 16, :height => 16) %>
<% @page_title_extra += link_to image_tag("icon_add2x.png", :class => "header_icon", :width => 16, :height => 16), new_tea_path %>

<% if @teas.any? %>

  <div class="display_options box">
    <!-- <b>Sort By</b><br/>
    <span><label><input type="radio" name="sort" value="name" class="js_sort"> Name</label></span>
    <span><label><input type="radio" name="sort" value="tea_type" class="js_sort"> Tea Type</label></span> -->
    
    <% if @atts.blank? %>
      Add your own <%= link_to 'custom attributes', new_att_path %> and assign them to your teas for better organization and filtering.<br/><br/>
    <% else %>
      <b>Show Only</b><br/>
      <% @atts.each do |att| %>
        <span><label>
          <input type="checkbox" class="js_narrow_by_att" name="att" value="att_<%= att.id %>"> <%= att.name %>
        </label></span><br/>
      <% end %>
    <% end %>

    <% @tea_types.each do |tea_type| %>
      <span><label>
        <input type="checkbox" class="js_narrow_by_att" name="att" value="tea_type_<%= tea_type.id %>"> <%= tea_type.name %>
      </label></span><br/>
    <% end %>
  </div>

  <div class="wrapper">
    <% @teas.each do |tea| %>
      
      <div data-sort_name="<%= tea.name.split(' ').first %>" 
          data-sort_type="<%= tea.tea_type.name.split(' ').first %>" 
          data-atts='["<%= tea.atts.map { |att| att.id.to_s.prepend("att_") }.join("\",\"") %>",
                      "tea_type_<%= tea.tea_type.id %>"]'
          class="list_item clearfix <% if tea.stock == "Out" %>out_of_stock<% end %>">
        
        <div class="edit_icon">
          <%= link_to image_tag("btn_edit2x.png", :width => 16, :height => 16), edit_tea_path(tea) %>
        </div>
        
        <div class="list_item_details">
          <div class="list_item_name">
            <%= link_to tea.name, tea, :class => "tea_name_link" %>
            <% if tea.favorite %>
              <% if session[:night_mode] == "on" %>
                <%= image_tag("icon_star_night2x.png", :width => 16, :height => 16, :alt => "Favorite") %>
              <% else %>
                <%= image_tag("icon_star_day2x.png", :width => 16, :height => 16, :alt => "Favorite") %>
              <% end %>
            <% end %>
          </div>
          
          <div class="list_item_atts">
            <%= tea.tea_type.name %><% if !tea.atts.blank? %>,<% end %>
            <%= tea.atts.map { |att| att.name }.join(", ") %>
            <% if tea.stock == "Out" %><br/>Out of Stock<% end %>
          </div>
        </div>

      </div>
    <% end %>
  </div>

  <br/><br/>You have <%= @teas.count %> total teas.
<% else %>
  No teas added yet.<br/>
<% end %>

<br>

<%= link_to 'New Tea', new_tea_path %>