<% @page_title = @tea.name %>

<div class="table first_cell_bold">
  <div class="tr">
    <div class="td">Type</div>
    <div class="td"><%= @tea.tea_type.name %></div>
  </div>

  <div class="tr">
    <div class="td">Stock</div>
    <div class="td"><%= @tea.stock %></div>
  </div>

  <div class="tr">
    <div class="td">Attributes</div>
    <div class="td">
      <%= @tea.atts.map { |att| att.name }.join(", ") %>
    </div>
  </div>

  <div class="tr">
    <div class="td">Vendor</div>
    <div class="td"><%= @tea.vendor %></div>
  </div>

  <div class="tr">
    <div class="td">Url</div>
    <div class="td"><%= @tea.url %></div>
  </div>

  <div class="tr">
    <div class="td">Steeping Notes</div>
    <div class="td"><%= simple_format @tea.notes %></div>
  </div>
</div>

<% if !@otherNotes.blank? %>
<div class="site_accordion">
  <div class="site_accordion_title">Community steeping notes</div>
  <div class="site_accordion_desc">
    <div class="table full_width_table last_cell_right altrowcolor">
    <% @otherNotes.each do |otherNotes| %>
        <div class="tr">
          <div class="td"><%= simple_format otherNotes.notes %></div>
          <div class="td small"><%= otherNotes.user.username %></div>
        </div>
    <% end %>
    </div>
  </div>
</div>
<% end %>

<% if !@suggestions.blank? %>
    <div class="site_accordion">
        <div class="site_accordion_title">Others also have...</div>
        <div class="site_accordion_desc">
            <div class="table full_width_table last_cell_right altrowcolor">
                <% @suggestions.each do |suggestions| %>
                    <div class="tr">
                        <div class="td"><%= suggestions.name %></div>
                        <div class="td small">
                            <% if !suggestions.url.blank? %>
                                Url: <b><%= suggestions.url %></b>
                            <% end %>
                            <% if !suggestions.vendor.blank? %>
                                <% if !suggestions.url.blank? %><br/><% end %>
                                From: <b><%= suggestions.vendor %></b>
                            <% end %>
                            
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>

<br/>

<%= link_to 'Edit', edit_tea_path(@tea) %> |
<%= link_to 'Teas', teas_path %>
