<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @att.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @att.user %>
</p>

<%= link_to 'Edit', edit_att_path(@att) %> |
<%= link_to 'Back', atts_path %>
