<%= form_for(@wishlist) do |f| %>
  <%= format_message(@wishlist.errors.full_messages) %>

  <div class="table first_cell_right first_cell_valign">
    <div class="tr">
      <div class="td"><%= f.label :name %></div>
      <div class="td"><%= f.text_field :name, autofocus: true %></div>
    </div>

    <div class="tr">
      <div class="td"><%= f.label :url %></div>
      <div class="td"><%= f.text_field :url %></div>
    </div>

    <div class="tr">
      <div class="td"><%= f.label :notes %></div>
      <div class="td">
        <%= f.text_area :notes, :rows => 6 %>
      </div>
    </div>

    <div class="tr">
      <div class="td"></div>
      <div class="td"><%= f.submit "Submit", :class => "btn" %></div>
    </div>
  </div>

<% end %>
