<% @page_title = "Your Wishlist" %>
<% @page_title_extra = link_to image_tag("icon_add2x.png", :class => "header_icon", :width => 24, :height => 24, :title => "Add New Wish"), new_wishlist_path %>

<% if @wishlists.any? %>
  <% @wishlists.each do |wishlist| %>

    <div class="list_item clearfix">
      <div class="edit_icon">
        <%= link_to image_tag("btn_edit2x.png", :width => 16, :height => 16), edit_wishlist_path(wishlist) %>
      </div>
      <div class="list_item_details">
        <div class="list_item_name"><%= link_to wishlist.name, wishlist %></div>
        <div class="list_item_atts">
          <% if !wishlist.url.blank? %>
            <%= wishlist.url %><br/>
          <% end %>
          <%= wishlist.notes %>
        </div>
      </div>
    </div>

  <% end %>

<% else %>
  No wishes added yet.<br/>
<% end %>

<br>

<%= link_to 'New Wish', new_wishlist_path %>
