<script type="text/javascript">

$(document).ready(function() {

	$(".js_contact_form").validate({
		errorElement: "div",
		ignore: ".ignore",
		rules: {
			"hiddenRecaptcha": {
				required: function() {
					if(grecaptcha.getResponse() == '') {
						return true;
					} else {
						return false;
					}
				}
			}
		}
	});
});
</script>

<% @page_title = "Contact" %>

<%= form_for @contact, html: {class: "js_contact_form"}, url: contact_path do |f| %>

<h2>We are committed to making this the best user experience possible. Please email us with any questions, comments, or feedback.</h2>

<div class="contact_form">
	<div class="contact_input">
		<%= f.text_field :name, placeholder: "Name*", autofocus: true, :class => "required" %>
	</div>

	<div class="contact_input">
		<%= f.text_field :email, placeholder: "Email" %>
	</div>

	<div class="contact_input">
		<%= f.text_field :subject, placeholder: "Subject*", :class => "required" %>
	</div>

	<div class="contact_input">
		<%= f.text_area :message, placeholder: "Message*", rows: 4, :class => "required"%>
	</div>

	<div class="contact_input">
		<%= recaptcha_tags :callback => "captcha_cb", :onload => "captcha_load", :theme => session[:night_mode] == "on" ? "dark" : "light" %>
		<input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">
	</div>

	<div class="contact_input">
		<%= f.submit "Send", :class => "btn" %>
	</div>
</div>

<% end %>
