<div class="header clearfix">
	<div class="header_left">
		<% if session[:night_mode] == "on" %>
			<a href="/" class=""><%= image_tag("logo_yellow_2x.png", :width => 197, :height => 72) %></a>
		<% else %>
			<a href="/" class=""><%= image_tag("logo_day_2x.png", :width => 197, :height => 72) %></a>
		<% end %>
	</div>
	<div class="header_right">
		<% if user_signed_in? %>
			<%# current_user.email %>
			<%= link_to 'Profile', edit_user_registration_path %> <span>|</span>
			<%= link_to "Logout", destroy_user_session_path, method: :delete  %>
			<!-- render 'layouts/teafinder/header' -->
		<% else %>
			<%= link_to 'Login', new_user_session_path, :class => "login_link" %>
		<% end %>
	</div>
</div>