<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Tea Logger</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/analytics' %>
</head>

<body>
	<% if Rails.env.production? %>
	  <script>//ga('send', 'pageview');</script>
	<% end %>

	<!--<a href="javascript:;" class='menu_button'><%# image_tag "btn_menu.png" %></a>-->

	<%= render 'layouts/header_hp' %>
	
	<div class="hp_benefit_section">
		<div class="benefit_container">
			<h2>For the connoisseur, perfectionist, and hobbyist.</h2>

			<div class="hp_benefit_item">
				<div class="tea_bullet"><%= image_tag("leaf2x.png", :width => 30) %></div>
				<div class="hp_benefit">You may also discover teas from the community.</div>
			</div>
			<div class="hp_benefit_item">
				<div class="tea_bullet"><%= image_tag("leaf2x.png", :width => 30) %></div>
				<div class="hp_benefit">See how others steep your tea.</div>
			</div>
			<div class="hp_benefit_item">
				<div class="tea_bullet"><%= image_tag("leaf2x.png", :width => 30) %></div>
				<div class="hp_benefit">Trouble figuring out what tea to drink? Let our tea chooser decide!</div>
			</div>

			<% if !user_signed_in? %>
				<div class="hp_signup">
					<a href="<%= new_user_registration_path %>" class="cta">Sign up</a>
				</div>
			<% end %>
		</div>
	</div>

	<div class="features clearfix">
		<h2>Features</h2>
		<div class="feature_col_l">
			<div class="feature">
				<div class="feature_l">
					<div class="feature_icon"><%= image_tag("icon_label2x.png", :width => 60, :height => 60) %></div>
				</div>
				<div class="feature_r">
					<div class="feature_header">CUSTOM ATTRIBUTES</div>
					<div class="feature_text">Save and tag your teas the way you like. Add your own attributes with any naming conventions and categories you choose.</div>
				</div>
			</div>

			<div class="feature">
				<div class="feature_l">
					<div class="feature_icon"><%= image_tag("icon_phone2x.png", :width => 35, :height => 65) %></div>
				</div>
				<div class="feature_r">
					<div class="feature_header">MOBILE FRIENDLY</div>
					<div class="feature_text">The site is 100% mobile friendly and works on a desktop, tablet, or a phone. No need to download any apps.</div>
				</div>
			</div>
		</div>
		<div class="feature_col_r">
			<div class="feature">
				<div class="feature_l">
					<div class="feature_icon"><%= image_tag("icon_notebook2x.png", :width => 60) %></div>
				</div>
				<div class="feature_r">
					<div class="feature_header">STEEPING NOTES</div>
					<div class="feature_text">The perfect cup of tea is worth finding and repeating. Keep track of how you steep all your teas and any other notes you may have.</div>
				</div>
			</div>

			<div class="feature">
				<div class="feature_l">
					<div class="feature_icon"><%= image_tag("icon_star2x.png", :width => 60) %></div>
				</div>
				<div class="feature_r">
					<div class="feature_header">CENTRALIZED WISHLIST</div>
					<div class="feature_text">Why have wishlists scattered online? Save the name and url to any tea you find. Include pricing info so you can make comparisons later on.</div>
				</div>
			</div>
		</div>
	</div>
	
	<%= render 'layouts/footer' %>

</body>
</html>
