<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Tea Logger</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/analytics' %>
</head>

<body class="info_body">
	<% if Rails.env.production? %>
	  <script>//ga('send', 'pageview');</script>
	<% end %>

	<!--<div class='sidebar'>
		<%# render 'layouts/teafinder/header' %>
	</div>-->

			
	<!--<a href="javascript:;" class='menu_button'><%# image_tag "btn_menu.png" %></a>-->

	<%= render 'layouts/header_info' %>
	
	<div class="slide">
		<h1>A place to catalog, organize,<br/> 
		and search your teas.</h1>

		<div class="hp_benefit_section">
			<div class="clearfix">
				<div class="tea_bullet"><%= image_tag("bullet_tea2x.png", :width => 16, :height => 16) %></div>
				<div class="hp_benefit">For the connoisseur, perfectionist, and hobbyist.</div>
			</div>
			<div class="clearfix">
				<div class="tea_bullet"><%= image_tag("bullet_tea2x.png", :width => 16, :height => 16) %></div>
				<div class="hp_benefit">You may also discover teas from the community.</div>
			</div>
			<div class="clearfix">
				<div class="tea_bullet"><%= image_tag("bullet_tea2x.png", :width => 16, :height => 16) %></div>
				<div class="hp_benefit">See how others steep your tea.</div>
			</div>
		</div>

		<% if !user_signed_in? %>
			<a href="<%= new_user_registration_path %>" class="cta">Sign up</a>
		<% end %>
	</div>
	
	<div class="footer info_footer">
		<a href="/legal">Privacy &amp; Terms</a> | <a href="/contact">Contact</a>
	</div>


</body>
</html>
