<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Tea Logger</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/analytics' %>
</head>

<body class="info_body">
	<% if Rails.env.production? %>
	  <script>ga('send', 'pageview');</script>
	<% end %>

	<!--<div class='sidebar'>
		<%# render 'layouts/teafinder/header' %>
	</div>-->

			
	<!--<a href="javascript:;" class='menu_button'><%# image_tag "btn_menu.png" %></a>-->

	<%= render 'layouts/header_info' %>
	
	<div class="slide">
		<% if notice %>
			<%= format_message(notice,"success") %>
		<% end %>
		
		<% if alert %>
		  <%= format_message(alert) %>
		<% end %>

		<%= yield %>	
	</div>
	
	<div class="footer info_footer">
		<a href="/legal">Privacy &amp; Terms</a> | <a href="/contact">Contact</a>
	</div>


</body>
</html>
